pandas
typing==3.7.4.3
typeguard==2.13.3
botocore==1.22.12
boto3==1.19.12
c7n==0.9.14
elasticsearch==7.10.0
elasticsearch-dsl==7.4.0
PyGitHub==1.55
requests==2.27.1
myst-parser==0.17.0
sphinx==4.5.0
sphinx-rtd-theme==1.0.0
