pandas
typing==3.7.4.3
typeguard==2.13.3
botocore==1.21.18
boto3==1.21.18
c7n==0.9.14
PyGitHub==1.55
requests==2.27.1
elasticsearch==7.10.0
elasticsearch_dsl==7.4.0
sphinx==4.0.2
sphinx_rtd_theme==0.4.3
